extends ../layout
//- 主页
block content
  //- 单独的css
    link(rel='stylesheet', href='/css/normal.css')
  link(rel='stylesheet', href='/css/normal.css')

  body
    include ../public/navi
    
    .container
      .row
        .col-md-4
          .panel.panel-primary
            .panel-heading
              span.glyphicon.glyphicon-user(aria-hidden="true") 
              span  个人信息
            .panel-body
              h3 #{user.name}老师，您好！
              p 教师工号：#{user.id}
              p.hidden 用户密码：
                span.userPasswd #{user.password}
              
              botton.btn.btn-block.btn-primary(onclick="mainDivClick()") 首页
              botton.btn.btn-block.btn-primary(onclick="payDivClick()") 工资管理
              botton.btn.btn-block.btn-primary(onclick="addClassClick()") 课程登记
              botton.btn.btn-block.btn-primary(onclick="allClassClick()") 授课查询
              botton.btn.btn-block.btn-default(data-toggle="modal", data-target=".modal") 修改密码
              a.btn.btn-block.btn-default(href="/signin") 注销

        .col-md-8
          //- 主页
          .mainDiv
            .panel.panel-primary
              .panel-heading
                span.glyphicon.glyphicon-user(aria-hidden="true") 
                span  公告栏
              .panel-body
                p 消息

          //- 授课查询
          .allClassDiv(style="display: none")
            .panel.panel-primary
              .panel-heading
                span.glyphicon.glyphicon-user(aria-hidden="true") 
                span  授课总表
              .panel-body
                table.table.table-bordered
                  tr.warning
                    td 登记时间
                    td 学期
                    td 课程名称
                    td 专业
                    td 班级
                    td 学生人数
                    td 标准学时
                    td 理论学时
                    td 实验学时
                    td 实际学时
                    td 课程权重
                    td 是否审核
                  for item in classes.normalClass
                    tr  
                      td= item.data
                      td= item.semester
                      td= item.name
                      td= item.faculty
                      td= item.class
                      td= item.studentAmount
                      td= item.standardHours
                      td= item.theoryHours
                      td= item.experimentHours
                      td= item.finalHours
                      td= item.point
                      -if(item.isChecked == true)
                        td Yep
                      -else
                        td Nope
                table.table.table-bordered
                  tr.warning
                    td 登记时间
                    td 学期
                    td 课程名称
                    td 专业
                    td 班级
                    td 学生人数
                    td 周数
                    td 实验学时
                    td 实际学时
                    td 课程权重
                    td 是否审核
                  for item in classes.designClass                 
                    tr
                      td= item.data
                      td= item.semester
                      td= item.name
                      td= item.faculty
                      td= item.class
                      td= item.studentAmount
                      td= item.week
                      td= item.experimentHours
                      td= item.finalHours
                      td= item.point
                      -if(item.isChecked == true)
                        td Yep
                      -else
                        td Nope
                table.table.table-bordered
                  tr.warning
                    td 登记时间
                    td 学期
                    td 课程名称
                    td 专业
                    td 班级
                    td 学生人数
                    td 单位学时
                    td 实际学时
                    td 课程权重
                    td 是否审核
                  for item in classes.trainClass
                    tr  
                      td= item.data
                      td= item.semester
                      td= item.name
                      td= item.faculty
                      td= item.class
                      td= item.studentAmount
                      td= item.unitHours
                      td= item.finalHours
                      td= item.point
                      -if(item.isChecked == true)
                        td Yep
                      -else
                        td Nope
                table.table.table-bordered
                  tr.warning
                    td 登记时间
                    td 学期
                    td 课程名称
                    td 专业
                    td 班级
                    td 学生人数
                    td 周数
                    td 单位学时
                    td 实际学时
                    td 课程权重
                    td 是否审核
                  for item in classes.produceClass
                    tr  
                      td= item.data
                      td= item.semester
                      td= item.name
                      td= item.faculty
                      td= item.class
                      td= item.studentAmount
                      td= item.week
                      td= item.experimentHours
                      td= item.finalHours
                      td= item.point
                      -if(item.isChecked == true)
                        td Yep
                      -else
                        td Nope
                table.table.table-bordered
                  tr.warning
                    td 登记时间
                    td 学期
                    td 课程名称
                    td 专业
                    td 班级
                    td 学生人数
                    td 周数
                    td 单位学时
                    td 实际学时
                    td 课程权重
                    td 是否审核
                  for item in classes.graduateClass                  
                    tr  
                      td= item.data
                      td= item.semester
                      td= item.name
                      td= item.faculty
                      td= item.class
                      td= item.studentAmount
                      td= item.week
                      td= item.experimentHours
                      td= item.finalHours
                      td= item.point
                      -if(item.isChecked == true)
                        td Yep
                      -else
                        td Nope
          
          //- 课程登记
          .addClassDiv(style="display: none")
            .panel.panel-primary
              .panel-heading
                span.glyphicon.glyphicon-user(aria-hidden="true") 
                span  课程登记
              .panel-body
                h3 #{user.name}老师，您好！
                p 用户工号：#{user.id}
                p 预发工资：#{user.pay}

                botton.btn.btn-block.btn-primary(onclick="payDivClick()") 工资预发
                botton.btn.btn-block.btn-primary(onclick="addClassClick()") 课程登记
                botton.btn.btn-block.btn-primary(onclick="allClassClick()") 授课查询
                botton.btn.btn-block.btn-warning(data-toggle="modal", data-target=".modal") 修改密码
                a.btn.btn-block.btn-danger(href="/signin") 注销

          //- 工资管理
          .payCtrlDiv(style="display: none")
            .panel.panel-primary
              .panel-heading
                span.glyphicon.glyphicon-user(aria-hidden="true") 
                span  工资管理
              .panel-body
                h3 #{user.name}老师，您好！
                -if(pay == undefined)
                  p 您还未填写过预发工资
                  .input-group
                    input.form-control.newPay(type="text", placeholder="请填写你需要的预发工资")
                    span.input-group-btn
                      botton.btn.btn-primary(onclick="setNewPay()") 提交
                -else if(pay.isChecked == 1)
                  p 您的预发工资为：#{pay.pay} 元
                  p 已提交审核，不可修改
                -else if(pay.isChecked == 0)
                  p 您的预发工资为：#{pay.pay} 元
                  p 未提交审核，可修改
                  .input-group
                    input.form-control.newPay(type="text", placeholder="请填写你需要的预发工资", value="#{pay.pay}")
                    span.input-group-btn
                      botton.btn.btn-primary(onclick="changePay()") 修改
                  botton.btn.btn-primary(onclick="checkPay()") 提交审核
                -else
                  p 您的预发工资为：#{pay.pay} 元
                  p 已通过审核，不可修改

    .modal.fade(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title 修改密码
          .modal-body
            .input-group
              span.input-group-addon 原密码
              input.form-control.oldPasswdInput(type="password", placeholder="请输入原密码")
            br
            .input-group
              span.input-group-addon 新密码
              input.form-control.newPasswdInput(type="password", placeholder="请输入新密码")
            br
            .input-group
              span.input-group-addon 重复新密码
              input.form-control.newPasswdAgainInput(type="password", placeholder="请再次输入新密码")
            .text-right.changePasswdMessage
          .modal-footer
            button.btn.btn-default.modalClose(type='button', data-dismiss='modal') 关闭
            button.btn.btn-primary(type='button', onclick="changePasswd()") 确定修改

    //- 单独的js
      script(src="")
    script(src="/js/homeAjax.js")
