//- 教学秘书

body
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        a.navbar-brand 教学秘书主页
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li(role="presentation"): a 首页
          li(role="presentation"): a 用户管理
          li(role="presentation"): a 工资管理
        ul.nav.navbar-nav.navbar-right
          li(role="presentation"): a(data-toggle="modal", data-target="#changePasswdModal") 修改密码
          li(role="presentation"): a(href="/signin") 退出

  //- 首页div
  .container-fluid.mainDiv
    .row
      .col-md-2(style="border-right: 1px solid #e7e7e7")
        h3 教学秘书主页
        p 秘书姓名：#{user.name}
        p 秘书工号：#{user.id}
        //- table.table.table-hover
        //-   tr: td: h5 首页
        //-   tr: td: h5 用户管理
        //-   tr: td: h5 工资管理
        //-   tr: td: h5 修改密码
        //-   tr: td: a(href="/signin") 退出

      .col-md-10
        .col-md-4
          .panel.panel-default
            .panel-heading 发送公告
            .panel-body
              form.form-horizontal
                .form-group
                  label.control-label.col-sm-3 内容
                  .col-sm-9
                    input.form-control(type="text")
                .form-group
                  label.control-label.col-sm-3 接收者
                  .col-sm-9
                    select.form-control
                      option 所有老师
                      option 所有教职工
                .form-group
                  label.control-label.col-sm-3 等级
                  .col-sm-9
                    select.form-control
                      option 普通(蓝色)
                      option 提示(黄色)
                      option 危险(黄色)
                .form-group
                  .col-sm-offset-3.col-md-9
                    button.btn.btn-primary.btn-block 发送

        .col-md-8
        
  //- 用户div
  .container-fluid.userDiv
    .row
      .col-md-2(style="border-right: 1px solid #e7e7e7")
        h3 用户管理
        p 秘书姓名：#{user.name}
        p 秘书工号：#{user.id}
        //- 按钮视图
        table.table
          tr: td: span 全部视图
          tr: td: span 等等
          tr: td: span and so on
      
      .col-md-10
        //- 数据视图
        .allViewDiv
          h4(style="text-align:center") 武汉轻工大学所有老师信息视图
          table.table.table-bordered
            thead
              tr
                th 教师姓名 
                th 教师工号 
                th 教师密码
            tbody#userInfoTable

  //- 工资div
  .container-fluid.payDiv
    .row
      .col-md-2(style="border-right: 1px solid #e7e7e7")
        h3 工资管理
        p 秘书姓名：#{user.name}
        p 秘书工号：#{user.id}
        //- 按钮视图
        table.table
          tr: td: span 全部视图
          tr: td: span 审核提交
          tr: td: span
      .col-md-10
        //- 数据视图·
        .allViewDiv
          h4(style="text-align:center") 武汉轻工大学所有老师工资信息视图
          table.table.table-bordered
            thead
              tr
                th 申请学期
                th 申请日期
                th 教师姓名
                th 教师工号 
                th 申请工资 
                th 审核状态
            tbody#payInfoTable

        .shengheTijiao(style="display:none")
