//- 教学秘书

body
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        a.navbar-brand 教学工作量管理系统
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li(role="presentation"): a 首页
          li(role="presentation"): a 教师信息管理
          li(role="presentation"): a 工资管理
          //- li(role="presentation"): a 课程管理
        ul.nav.navbar-nav.navbar-right
          li(role="presentation"): a(style="color: #337ab7", onclick="updateAlertModal('反馈', `<textarea class='form-control' rows='3' style='resize:none;' placeholder='请输入您的意见'></textarea><br><button class='btn btn-block btn-primary' onclick='feedback($(this).siblings().first().val())'>提交</button>`)") 反馈
          li(role="presentation"): a(data-toggle="modal", data-target="#changePasswdModal") 修改密码
          li(role="presentation"): a(href="/signin") 退出

  //- 首页div
  .container-fluid.mainDiv
    .row
      .col-md-2(style="border-right: 1px solid #e7e7e7")
        h3 #{user.name}老师，您好！
        p 工号：#{user.id}
        //- table.table.table-hover
        //-   tr: td: h5 首页
        //-   tr: td: h5 用户管理
        //-   tr: td: h5 工资管理
        //-   tr: td: h5 修改密码
        //-   tr: td: a(href="/signin") 退出

      .col-md-10
        .col-md-8
          .panel.panel-default
            .panel-heading 通知
            .panel-body
              -if(message.length == 0)
                p 无公告
              -else
                -message.sort((a, b)=> new Date(b.date)- new Date(a.date))
                each item in message
                  -if(item.receiver == 'all')
                    .col-md-12(class="bg-#{item.level}", style="border-bottom: 2px white solid")
                      .col-md-9
                        h4 #{item.message}
                      .col-md-3
                        p.text-right #{item.date}
                        p.text-right #{item.senderName}

        .col-md-4
          .panel.panel-default
            .panel-heading 发送公告
            .panel-body
              .form-horizontal
                .form-group
                  label.control-label.col-sm-3 内容
                  .col-sm-9
                    input.form-control.sendMessageContent(type="text")
                .form-group
                  label.control-label.col-sm-3 接收者
                  .col-sm-9
                    select.form-control.sendMessageReceiverSelect
                      option(value="all") 所有老师
                      option(value="one") 单个老师
                    input.form-control.sendMessageReceiverInput(type="text", placeholder="请输入接收者的工号", style="display: none")
                .form-group
                  label.control-label.col-sm-3 等级
                  .col-sm-9
                    select.form-control.sendMessageLevel
                      option(value="primary") 普通(蓝色)
                      option(value="success") 成功(绿色)
                      option(value="warning") 警示(黄色)
                      option(value="danger") 危险(红色)
                .form-group
                  .col-sm-offset-3.col-md-9
                    button.btn.btn-primary.btn-block(onclick="sendMessage()") 发送

  //- 用户div
  .container-fluid.userDiv(style="display: none")
    .row
      .col-md-2(style="border-right: 1px solid #e7e7e7")
        h3 教师信息管理
        p 秘书姓名：#{user.name}
        p 秘书工号：#{user.id}
        //- 按钮视图
        table.table
          tr: td: button.btn.btn-block.btn-primary(onclick="addNewUserModal()") 新进教师
          tr: td: button.btn.btn-block.btn-default 教师信息一览表
          tr: td: button.btn.btn-block.btn-default 不在岗教师一览表
          
      .col-md-10
        //- 在职老师数据视图
        .dataViewDiv
          h4.text-center 武汉轻工大学数计学院 在职教师信息表
          table.table.table-hover.table-bordered
            thead
              tr
                th 教师工号
                th 教师姓名
                th 所属教研室
                th 密码
            tbody
              -users.sort((a, b)=> a.id-b.id)
              each item in users
                -if(item.isWorking)
                  tr(onmouseover="$(this).children().last().toggle()", onmouseout="$(this).children().last().toggle()")
                    td #{item.id}
                    td #{item.name}
                    td #{item.department.name}
                    td #{item.password}
                    td(style="display: none; width:200px")
                      button.btn.btn-primary(value="#{item._id}" onclick="resetPassword(this)", style="width: 80px") 重置密码
                      button.btn.btn-primary(value="#{item._id}" onclick="changeUserBtn(this)", style="width: 80px") 修改信息
                      //- button.btn.btn-danger(value="#{item._id}" onclick="deleteUserBtn(this)") 离职
                      
        //- 离职老师数据视图
        .dataViewDiv(style="display: none")
          h4.text-center 武汉轻工大学数计学院 离职教师信息表
          table.table.table-bordered
            thead
              tr
                th 教师工号
                th 教师姓名
                th 所属教研室
                th 密码
                th 操作
            tbody
              each item in users
                -if(!item.isWorking)
                  tr
                    td #{item.id}
                    td #{item.name}
                    td #{item.kind}
                    td #{item.password}
                    td
                      button.btn.btn-warning(value="#{item._id}" onclick="resetPassword(this)") 重新任职
  
  //- 工资div
  .container-fluid.payDiv(style="display: none")
    .row
      .col-md-2(style="border-right: 1px solid #e7e7e7")
        h3 工资管理
        p 秘书姓名：#{user.name}
        p 秘书工号：#{user.id}
        //- 按钮视图
        table.table
          tr: td: button.btn.btn-block 全部视图
          tr: td: a.btn.btn-block.btn-primary(href=`/exportdoc?y=${new Date().getFullYear()}&m=${new Date().getMonth()+1}`) 导出当月Excel
      .col-md-10
        //- 数据视图
        -pays.sort((a, b)=> new Date(b.applyMonth)-new Date(a.applyMonth))
        .allViewDiv
          p 快捷操作：
            button.btn.btn-primary(onclick="$('.passReqBtn').click()") 一键全部通过
          hr

          h4(style="text-align:center") 武汉轻工大学数计学院 #{`${new Date().getFullYear()}年${new Date().getMonth()+1}月份`} 教师预发工资信息表
          table.table.table-bordered.table-hover
            thead
              tr
                th 申请月份
                th 提交日期
                th 教师姓名
                th 教师工号
                th 奖励绩效预发(元)
                th 兼课津贴(元)
                th 审核状态
            tbody
              each item in pays
                tr
                  td #{item.applyMonth}
                  td #{item.applyDate}
                  -for(let user of users){
                    -if(user.id == item.id){
                      td #{user.name}
                      -break
                    -}
                  -}
                  td #{item.id}
                  td #{item.pay.final}
                  td #{item.reward.final}
                  -if(item.isChecked == 0)
                    td.text-warning 未提交
                  -else if(item.isChecked == 2)
                    td.text-success 已通过审核
                  -else
                    td
                      button.btn.btn-primary.passReqBtn(value='#{item._id}', onclick='passRequest(this.value)') 通过
                      button.btn.btn-warning(value='#{item._id}', onclick="updateAlertModal('驳回申请', `<input class='form-control refuseInput' placeholder='请输入驳回原因'><br><button class='btn btn-warning btn-block' value='#{item._id}' onclick='refuseRequest(this.value)'>驳回</button>`)") 驳回
        
//- 课程div
  .container-fluid.classDiv(style="display: none")
    .row
      .col-md-2(style="border-right: 1px solid #e7e7e7")
        h3 课程管理
        p 秘书姓名：#{user.name}
        p 秘书工号：#{user.id}
        //- 按钮视图
        table.table
          tr: td: button.btn.btn-block 全部视图
          tr: td: button.btn.btn-block 等等
          tr: td: button.btn.btn-block and so on
      
      .col-md-10
        //- 数据视图
        .allViewDiv
          h4(style="text-align:center") 普通课程类课程信息视图
          table.table.table-bordered
            tr.warning
              td 老师工号
              td 登记时间
              td 学期
              td 课程名称
              td 专业
              td 班级
              td 学生人数
              td 标准学时
              td 理论学时
              td 实验学时
              td 合班系数
              td 实际学时
              td 是否审核
            each item in classes.normalClass
              tr  
                td= item.id
                td= item.date
                td= item.semester
                td= item.name
                td= item.faculty
                td= item.class
                td= item.studentAmount
                td= item.standardHours
                td= item.theoryHours
                td= item.experimentHours
                td= item.point
                td= item.finalHours
                -if(item.isChecked == true)
                  td Yep
                -else
                  td Nope
          h4(style="text-align:center") 课程设计类课程信息视图          
          table.table.table-bordered
            tr.warning
              td 老师工号
              td 登记时间
              td 学期
              td 课程名称
              td 专业
              td 班级
              td 学生人数
              td 周数
              td 实验学时
              td 合班系数
              td 实际学时
              td 是否审核
            each item in classes.designClass                 
              tr
                td= item.id
                td= item.date
                td= item.semester
                td= item.name
                td= item.faculty
                td= item.class
                td= item.studentAmount
                td= item.week
                td= item.experimentHours
                td= item.point
                td= item.finalHours
                -if(item.isChecked == true)
                  td Yep
                -else
                  td Nope
          h4(style="text-align:center") 科研训练类课程信息视图  
          table.table.table-bordered
            tr.warning
              td 老师工号
              td 登记时间
              td 学期
              td 课程名称
              td 专业
              td 班级
              td 学生人数
              td 单位学时
              td 合班系数
              td 实际学时
              td 是否审核
            each item in classes.trainClass
              tr  
                td= item.id
                td= item.date
                td= item.semester
                td= item.name
                td= item.faculty
                td= item.class
                td= item.studentAmount
                td= item.unitHours
                td= item.point
                td= item.finalHours
                -if(item.isChecked == true)
                  td Yep
                -else
                  td Nope
          h4(style="text-align:center") 生产实习类课程信息视图          
          table.table.table-bordered
            tr.warning
              td 老师工号
              td 登记时间
              td 学期
              td 课程名称
              td 专业
              td 班级
              td 学生人数
              td 周数
              td 单位学时
              td 合班系数
              td 实际学时
              td 是否审核
            each item in classes.produceClass
              tr  
                td= item.id
                td= item.date
                td= item.semester
                td= item.name
                td= item.faculty
                td= item.class
                td= item.studentAmount
                td= item.week
                td= item.unitHours
                td= item.point
                td= item.finalHours
                -if(item.isChecked == true)
                  td Yep
                -else
                  td Nope
          h4(style="text-align:center") 毕业实习类课程信息视图
          table.table.table-bordered
            tr.warning
              td 老师工号
              td 登记时间
              td 学期
              td 课程名称
              td 专业
              td 班级
              td 学生人数
              td 周数
              td 单位学时
              td 合班系数
              td 实际学时
              td 是否审核
            each item in classes.graduateClass                  
              tr  
                td= item.id
                td= item.date
                td= item.semester
                td= item.name
                td= item.faculty
                td= item.class
                td= item.studentAmount
                td= item.week
                td= item.experimentHours
                td= item.point
                td= item.finalHours
                -if(item.isChecked == true)
                  td Yep
                -else
                  td Nope
