//- 教学秘书

body
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        a.navbar-brand 教学秘书主页
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li(role="presentation"): a 首页
          li(role="presentation"): a 用户管理
          li(role="presentation"): a 工资管理
        ul.nav.navbar-nav.navbar-right
          li(role="presentation"): a(data-toggle="modal", data-target=".modal") 修改密码
          li(role="presentation"): a(href="/signin") 退出

  //- 首页div
  .container-fluid.mainDiv
    .row
      .col-md-2
        h3 教学秘书主页
        p 秘书姓名：#{user.name}
        p 秘书工号：#{user.id}
        table.table.table-hover
          tr: td: botton.btn 首页
          tr
            td
              botton.btn 用户管理
          tr
            td
              botton.btn 工资管理
          tr
            td
              botton.btn 修改密码
          tr
            td
              a.btn(href="/signin") 退出

      .col-md-10

  //- 用户div
  .container-fluid.userDiv
    .row
      .col-md-2
        h3 用户管理
        p 秘书姓名：#{user.name}
        p 秘书工号：#{user.id}
        //- 按钮视图
        table.table.table-hover
          tr: td: h5 全部视图
          tr: td: h5 2
          tr: td: h5 3
      
      .col-md-10
        //- 数据视图

  //- 工资div
  .container-fluid.payDiv
    .row
      .col-md-2(style="border-right: 1px solid #e7e7e7")
        h3 工资管理
        p 秘书姓名：#{user.name}
        p 秘书工号：#{user.id}
        //- 按钮视图
        table.table.table-hover
          tr: td: h5 全部视图
          tr: td: h5 审核提交
          tr: td: h5 
      
      .col-md-10
        //- 数据视图


  include ../public/changePasswd
