//- 教学秘书

body
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        a.navbar-brand 教学秘书主页
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li(role="presentation"): a 首页
          li(role="presentation"): a 用户管理
          li(role="presentation"): a 工资管理
          li(role="presentation"): a 课程管理
        ul.nav.navbar-nav.navbar-right
          li(role="presentation"): a(data-toggle="modal", data-target="#changePasswdModal") 修改密码
          li(role="presentation"): a(href="/signin") 退出

  //- 首页div
  .container-fluid.mainDiv
    .row
      .col-md-2(style="border-right: 1px solid #e7e7e7")
        h3 教学秘书主页
        p 秘书姓名：#{user.name}
        p 秘书工号：#{user.id}
        //- table.table.table-hover
        //-   tr: td: h5 首页
        //-   tr: td: h5 用户管理
        //-   tr: td: h5 工资管理
        //-   tr: td: h5 修改密码
        //-   tr: td: a(href="/signin") 退出

      .col-md-10
        .col-md-8
          
        .col-md-4
          .panel.panel-default
            .panel-heading 发送公告
            .panel-body
              .form-horizontal
                .form-group
                  label.control-label.col-sm-3 内容
                  .col-sm-9
                    input.form-control.sendMessageContent(type="text")
                .form-group
                  label.control-label.col-sm-3 接收者
                  .col-sm-9
                    select.form-control.sendMessageReceiverSelect
                      option(value="all") 所有老师
                      option(value="one") 单个老师
                    input.form-control.sendMessageReceiverInput(type="text", placeholder="请输入接收者的工号", style="display: none")
                .form-group
                  label.control-label.col-sm-3 等级
                  .col-sm-9
                    select.form-control.sendMessageLevel
                      option(value="primary") 普通(蓝色)
                      option(value="success") 成功(绿色)
                      option(value="warning") 警示(黄色)
                      option(value="danger") 危险(红色)
                .form-group
                  .col-sm-offset-3.col-md-9
                    button.btn.btn-primary.btn-block(onclick="sendMessage()") 发送

  //- 用户div
  .container-fluid.userDiv
    .row
      .col-md-2(style="border-right: 1px solid #e7e7e7")
        h3 用户管理
        p 秘书姓名：#{user.name}
        p 秘书工号：#{user.id}
        //- 按钮视图
        table.table
          tr: td: button.btn.btn-block.btn-sm 全部视图
          tr: td: button.btn.btn-block.btn-sm 新增用户
          tr: td: button.btn.btn-block.btn-sm 修改用户信息
      
      .col-md-10
        //- 数据视图
        .allViewDiv
          h4(style="text-align:center") 武汉轻工大学所有老师信息视图
          table.table.table-bordered
            thead
              tr
                th 教师姓名
                th 教师工号
                th 密码
                th 操作
            tbody#userInfoTable

  //- 工资div
  .container-fluid.payDiv
    .row
      .col-md-2(style="border-right: 1px solid #e7e7e7")
        h3 工资管理
        p 秘书姓名：#{user.name}
        p 秘书工号：#{user.id}
        //- 按钮视图
        table.table
          tr: td: button.btn.btn-block.btn-sm 全部视图
          tr: td: button.btn.btn-block.btn-sm 审核提交
      .col-md-10
        //- 数据视图·
        .allViewDiv
          h4(style="text-align:center") 武汉轻工大学所有老师工资信息视图
          table.table.table-bordered
            thead
              tr
                th 申请学期
                th 申请日期
                th 教师姓名
                th 教师工号 
                th 申请工资 
                th 审核状态
            tbody#payInfoTable

  //- 课程div
  .container-fluid.classDiv
    .row
      .col-md-2(style="border-right: 1px solid #e7e7e7")
        h3 课程管理
        p 秘书姓名：#{user.name}
        p 秘书工号：#{user.id}
        //- 按钮视图
        table.table
          tr: td: button.btn.btn-block.btn-sm 全部视图
          tr: td: button.btn.btn-block.btn-sm 等等
          tr: td: button.btn.btn-block.btn-sm and so on
      
      .col-md-10
        //- 数据视图
        .allViewDiv
          h4(style="text-align:center") 普通课程类课程信息视图
          table.table.table-bordered
            tr.warning
                td 登记时间
                td 学期
                td 课程名称
                td 专业
                td 班级
                td 学生人数
                td 标准学时
                td 理论学时
                td 实验学时
                td 合班系数
                td 实际学时
                td 是否审核
            //- each item in classes.normalClass
            //-   tr  
            //-     td= item.date
            //-     td= item.semester
            //-     td= item.name
            //-     td= item.faculty
            //-     td= item.class
            //-     td= item.studentAmount
            //-     td= item.standardHours
            //-     td= item.theoryHours
            //-     td= item.experimentHours
            //-     td= item.point
            //-     td= item.finalHours
            //-     -if(item.isChecked == true)
            //-       td Yep
            //-     -else
            //-       td Nope
          h4(style="text-align:center") 课程设计类课程信息视图          
          table.table.table-bordered
            tr.warning
              td 登记时间
              td 学期
              td 课程名称
              td 专业
              td 班级
              td 学生人数
              td 周数
              td 实验学时
              td 合班系数
              td 实际学时
              td 是否审核
            //- each item in classes.designClass                 
            //-   tr
            //-     td= item.data
            //-     td= item.semester
            //-     td= item.name
            //-     td= item.faculty
            //-     td= item.class
            //-     td= item.studentAmount
            //-     td= item.week
            //-     td= item.experimentHours
            //-     td= item.point
            //-     td= item.finalHours
            //-     -if(item.isChecked == true)
            //-       td Yep
            //-     -else
            //-       td Nope
          h4(style="text-align:center") 科研训练类课程信息视图  
          table.table.table-bordered
            tr.warning
              td 登记时间
              td 学期
              td 课程名称
              td 专业
              td 班级
              td 学生人数
              td 单位学时
              td 合班系数
              td 实际学时
              td 是否审核
            //- each item in classes.trainClass
            //-   tr  
            //-     td= item.data
            //-     td= item.semester
            //-     td= item.name
            //-     td= item.faculty
            //-     td= item.class
            //-     td= item.studentAmount
            //-     td= item.unitHours
            //-     td= item.point
            //-     td= item.finalHours
            //-     -if(item.isChecked == true)
            //-       td Yep
            //-     -else
            //-       td Nope
          h4(style="text-align:center") 生产实习类课程信息视图          
          table.table.table-bordered
            tr.warning
              td 登记时间
              td 学期
              td 课程名称
              td 专业
              td 班级
              td 学生人数
              td 周数
              td 单位学时
              td 合班系数
              td 实际学时
              td 是否审核
            //- each item in classes.produceClass
            //-   tr  
            //-     td= item.data
            //-     td= item.semester
            //-     td= item.name
            //-     td= item.faculty
            //-     td= item.class
            //-     td= item.studentAmount
            //-     td= item.week
            //-     td= item.experimentHours
            //-     td= item.point
            //-     td= item.finalHours
            //-     -if(item.isChecked == true)
            //-       td Yep
            //-     -else
            //-       td Nope
          h4(style="text-align:center") 毕业实习类课程信息视图
          table.table.table-bordered
            tr.warning
              td 登记时间
              td 学期
              td 课程名称
              td 专业
              td 班级
              td 学生人数
              td 周数
              td 单位学时
              td 合班系数
              td 实际学时
              td 是否审核
            //- each item in classes.graduateClass                  
            //-   tr  
            //-     td= item.data
            //-     td= item.semester
            //-     td= item.name
            //-     td= item.faculty
            //-     td= item.class
            //-     td= item.studentAmount
            //-     td= item.week
            //-     td= item.experimentHours
            //-     td= item.point
            //-     td= item.finalHours
            //-     -if(item.isChecked == true)
            //-       td Yep
            //-     -else
            //-       td Nope