//- 普通用户

body
  nav.navbar.navbar-default
    .container-fluid(style="background-color: #1295D8;height: 100px;background-image: url('/img/background.png')")
      .container
        .navbar-header
          img.navbar-brand(src='/img/logo.png', style="height: 100px")
          h3.navbar-text(style="color: white; line-height:100px; text-align:left;margin:0")= title
  
  .container
    .row
      .col-md-4
        .panel.panel-primary
          .panel-heading
            span.glyphicon.glyphicon-user(aria-hidden="true") 
            span  个人信息
          .panel-body
            h3 #{user.name}老师，您好！
            p 教师工号：#{user.id}
            
            botton.btn.btn-block.btn-primary(onclick="mainDivClick()") 首页
            botton.btn.btn-block.btn-primary(onclick="payDivClick()") 工资管理
            botton.btn.btn-block.btn-primary(onclick="addClassClick()") 课程登记
            botton.btn.btn-block.btn-primary(onclick="allClassClick()") 授课查询
            botton.btn.btn-block.btn-default(data-toggle="modal", data-target="#changePasswdModal") 修改密码
            a.btn.btn-block.btn-default(href="/signin") 退出

      .col-md-8
        //- 首页
        .mainDiv
          .panel.panel-primary
            .panel-heading
              span.glyphicon.glyphicon-bullhorn(aria-hidden="true") 
              span  公告栏
            .panel-body
              .allMessageBox.container-fluid
                h4 学院公告
              hr
              .myMessageBox.container-fluid
                h4 我的消息
                        
        //- 授课查询
        .allClassDiv(style="display: none")
          .panel.panel-primary
            .panel-heading
              span.glyphicon.glyphicon-list(aria-hidden="true") 
              span  授课总表
            .panel-body
              table.table.table-bordered
                tr.warning
                  td 登记时间
                  td 学期
                  td 课程名称
                  td 专业
                  td 班级
                  td 学生人数
                  td 标准学时
                  td 理论学时
                  td 实验学时
                  td 合班系数
                  td 实际学时
                  td 是否审核
                each item in classes.normalClass
                  tr  
                    td= item.date
                    td= item.semester
                    td= item.name
                    td= item.faculty
                    td= item.class
                    td= item.studentAmount
                    td= item.standardHours
                    td= item.theoryHours
                    td= item.experimentHours
                    td= item.point
                    td= item.finalHours
                    -if(item.isChecked == true)
                      td Yep
                    -else
                      td Nope
              table.table.table-bordered
                tr.warning
                  td 登记时间
                  td 学期
                  td 课程名称
                  td 专业
                  td 班级
                  td 学生人数
                  td 周数
                  td 实验学时
                  td 合班系数
                  td 实际学时
                  td 是否审核
                each item in classes.designClass                 
                  tr
                    td= item.data
                    td= item.semester
                    td= item.name
                    td= item.faculty
                    td= item.class
                    td= item.studentAmount
                    td= item.week
                    td= item.experimentHours
                    td= item.point
                    td= item.finalHours
                    -if(item.isChecked == true)
                      td Yep
                    -else
                      td Nope
              table.table.table-bordered
                tr.warning
                  td 登记时间
                  td 学期
                  td 课程名称
                  td 专业
                  td 班级
                  td 学生人数
                  td 单位学时
                  td 合班系数
                  td 实际学时
                  td 是否审核
                each item in classes.trainClass
                  tr  
                    td= item.data
                    td= item.semester
                    td= item.name
                    td= item.faculty
                    td= item.class
                    td= item.studentAmount
                    td= item.unitHours
                    td= item.point
                    td= item.finalHours
                    -if(item.isChecked == true)
                      td Yep
                    -else
                      td Nope
              table.table.table-bordered
                tr.warning
                  td 登记时间
                  td 学期
                  td 课程名称
                  td 专业
                  td 班级
                  td 学生人数
                  td 周数
                  td 单位学时
                  td 合班系数
                  td 实际学时
                  td 是否审核
                each item in classes.produceClass
                  tr  
                    td= item.data
                    td= item.semester
                    td= item.name
                    td= item.faculty
                    td= item.class
                    td= item.studentAmount
                    td= item.week
                    td= item.experimentHours
                    td= item.point
                    td= item.finalHours
                    -if(item.isChecked == true)
                      td Yep
                    -else
                      td Nope
              table.table.table-bordered
                tr.warning
                  td 登记时间
                  td 学期
                  td 课程名称
                  td 专业
                  td 班级
                  td 学生人数
                  td 周数
                  td 单位学时
                  td 合班系数
                  td 实际学时
                  td 是否审核
                each item in classes.graduateClass                  
                  tr  
                    td= item.data
                    td= item.semester
                    td= item.name
                    td= item.faculty
                    td= item.class
                    td= item.studentAmount
                    td= item.week
                    td= item.experimentHours
                    td= item.point
                    td= item.finalHours
                    -if(item.isChecked == true)
                      td Yep
                    -else
                      td Nope
        
        //- 课程登记
        .addClassDiv(style="display: none")
          .panel.panel-primary
            .panel-heading
              span.glyphicon.glyphicon-list(aria-hidden="true")
              span  课程登记
            .panel-body
              form.addNewClassForm(method="POST", action="/user/newClass")
                .input-group
                  span.input-group-addon 登记日期
                  input.form-control.classDateInput(type="text", name="date", readonly)
                  script.
                    $(".classDateInput").val(`${new Date().getFullYear()}-${new Date().getMonth()+1}-${new Date().getDate()} ${new Date().getHours()}:${new Date().getMinutes()}`)
                .input-group
                  span.input-group-addon 教学学期
                  select.form-control.classSemesterSelect(name="semester")
                  script.
                      for(let i=new Date().getFullYear() + 1; i>=new Date().getFullYear() - 1; i--)
                        for(let j=2; j>=1; j--){
                          if(new Date().getMonth()>=0&&new Date().getMonth()>6?`${new Date().getFullYear()}-${new Date().getFullYear()+1}-1`:`${new Date().getFullYear()-1}-${new Date().getFullYear()}-2` == `${i-1}-${i}-${j}`)
                            $(".classSemesterSelect").append(`<option selected>${i-1}-${i}-${j}</option>`)
                          else
                            $(".classSemesterSelect").append(`<option>${i-1}-${i}-${j}</option>`)
                        }
                .input-group
                  span.input-group-addon 课程类别
                  select.form-control.classKindSelect(name="classKind")
                    option(value="normal") 普通课程
                    option(value="design") 课程设计
                    option(value="train") 科研训练
                    option(value="produce") 生产实习
                    option(value="graduate") 毕业实习
                br
                .input-group
                  span.input-group-addon 课程名称
                  input.form-control.publicInput(type="text", name="name")
                .input-group
                  span.input-group-addon 专业
                  input.form-control.publicInput(type="text", name="faculty")
                .input-group
                  span.input-group-addon 班级
                  input.form-control.publicInput(type="text", name="class")
                .input-group
                  span.input-group-addon 学生人数
                  input.form-control.publicInput(type="text", name="studentAmount")
                br
                .classesInputGroup
                  .input-group
                    span.input-group-addon 标准学时
                    input.form-control(type='text', name='standardHours')
                  .input-group
                    span.input-group-addon 理论学时
                    input.form-control(type='text', name='theoryHours')
                  .input-group
                    span.input-group-addon 实验学时
                    input.form-control(type='text', name='experimentHours')
                  .input-group
                    span.input-group-addon 合班系数
                    input.form-control(type='text', name='point')
                  .input-group
                    span.input-group-addon 实际学时
                    input.form-control(type='text', name='finalHours')

              br
              p.addNewClassMessage
              button.btn.btn-primary.btn-block(onclick="addNewClass()") 录入
                
              //- form.form-horizontal
                .form-group
                  label.col-md-2.control-label 登记日期
                  .col-md-10
                    input.form-control.classDateInput(type="text", name="date", readonly)
                    script.
                      $(".classDateInput").val(`${new Date().getFullYear()}-${new Date().getMonth()+1}-${new Date().getDate()} ${new Date().getHours()}:${new Date().getMinutes()}`)
                .form-group
                  label.col-md-2.control-label 教学学期
                  .col-md-10
                    select.form-control.classSemesterSelect(name="semester")
                    script.
                        for(let i=new Date().getFullYear() + 1; i>=new Date().getFullYear() - 1; i--)
                          for(let j=2; j>=1; j--){
                            if(new Date().getMonth()>=0&&new Date().getMonth()>6?`${new Date().getFullYear()}-${new Date().getFullYear()+1}-1`:`${new Date().getFullYear()-1}-${new Date().getFullYear()}-2` == `${i-1}-${i}-${j}`)
                              $(".classSemesterSelect").append(`<option selected>${i-1}-${i}-${j}</option>`)
                            else
                              $(".classSemesterSelect").append(`<option>${i-1}-${i}-${j}</option>`)
                          }
                .form-group
                  label.col-md-2.control-label 课程类别
                  .col-md-10
                    select.form-control.classKindSelect(name="classKind")
                      option(value="normal") 普通课程
                      option(value="design") 课程设计
                      option(value="train") 科研训练
                      option(value="produce") 生产实习
                      option(value="graduate") 毕业实习
                .form-group
                  label.col-md-2.control-label 课程名称
                  .col-md-10
                    input.form-control(type="text", name="className")
                .form-group
                  label.col-md-2.control-label 专业
                  .col-md-10
                    input.form-control(type="text", name="classFaculty")
                .form-group
                  label.col-md-2.control-label 班级
                  .col-md-10
                    input.form-control(type="text", name="classClass")
                .form-group
                  label.col-md-2.control-label 学生人数
                  .col-md-10
                    input.form-control(type="text", name="classStudentAmount")
                
                .normalClass.classesInputGroup
                  .form-group
                    label.col-md-2.control-label 标准学时
                    .col-md-10
                      input.form-control(type="text", name="standardHours")
                  .form-group
                    label.col-md-2.control-label 理论学时
                    .col-md-10
                      input.form-control(type="text", name="theoryHours")
                  .form-group
                    label.col-md-2.control-label 实验学时
                    .col-md-10
                      input.form-control(type="text", name="experimentHours")
                  .form-group
                    label.col-md-2.control-label 合班系数
                    .col-md-10
                      input.form-control(type="text", name="point")
                  .form-group
                    label.col-md-2.control-label 实际学时
                    .col-md-10
                      input.form-control(type="text", name="finalHours")
                
                .designClass.classesInputGroup(style="display: none")
                  .form-group
                    label.col-md-2.control-label 周数
                    .col-md-10
                      input.form-control(type="text", name="week")
                  .form-group
                    label.col-md-2.control-label 实验学时
                    .col-md-10
                      input.form-control(type="text", name="experimentHours")
                  .form-group
                    label.col-md-2.control-label 合班系数
                    .col-md-10
                      input.form-control(type="text", name="point")
                  .form-group
                    label.col-md-2.control-label 实际学时
                    .col-md-10
                      input.form-control(type="text", name="finalHours")
                
                .trainClass.classesInputGroup(style="display: none")
                  .form-group
                    label.col-md-2.control-label 单位学时
                    .col-md-10
                      input.form-control(type="text", name="unitHours")
                  .form-group
                    label.col-md-2.control-label 合班系数
                    .col-md-10
                      input.form-control(type="text", name="point")
                  .form-group
                    label.col-md-2.control-label 实际学时
                    .col-md-10
                      input.form-control(type="text", name="finalHours")
                
                .otherClass.classesInputGroup(style="display: none")
                  .form-group
                    label.col-md-2.control-label 周数
                    .col-md-10
                      input.form-control(type="text", name="week")
                  .form-group
                    label.col-md-2.control-label 单位学时
                    .col-md-10
                      input.form-control(type="text", name="unitHours")
                  .form-group
                    label.col-md-2.control-label 合班系数
                    .col-md-10
                      input.form-control(type="text", name="point")
                  .form-group
                    label.col-md-2.control-label 实际学时
                    .col-md-10
                      input.form-control(type="text", name="finalHours")
                
                br
                button.btn.btn-primary.btn-block 录入
        
        //- 工资管理
        .payCtrlDiv(style="display: none")
          .panel.panel-primary
            .panel-heading
              span.glyphicon.glyphicon-list(aria-hidden="true")
              span  工资管理
            .panel-body
              h3 #{user.name}老师，您好！
              -if(pay.length == 0)
                p 您未填写过工资
                .input-group
                  span.input-group-addon 学期
                  select.form-control.applySemesterSelect
                  script.
                    for(let i=new Date().getFullYear() + 2; i>=new Date().getFullYear() - 1; i--)
                      for(let j=2; j>=1; j--)
                        $(".applySemesterSelect").append(`<option>${i-1}-${i}-${j}</option>`)
                br
                .input-group
                  span.input-group-addon 预发工资
                  input.form-control.newPay(type="text", placeholder="请填写预发工资")
                  span.input-group-btn
                    botton.btn.btn-default(type="botton", onclick="setNewPay()") 提交
                  
              -else
                -let result = false
                -let nowPay
                -let nowSemester = new Date().getMonth()>=0&&new Date().getMonth()>6?`${new Date().getFullYear()}-${new Date().getFullYear()+1}-1`:`${new Date().getFullYear()-1}-${new Date().getFullYear()}-2`

                -for(let item of pay)
                  -if(item.applySemester == nowSemester){
                    -nowPay = item
                    -result = true
                    -break
                  -}
                
                -if(result == true)
                  p 当前学期 #{nowPay.applySemester} 的预发工资为：
                  -if(nowPay.isChecked == 0)
                    .input-group
                      span.input-group-addon 预发工资
                      input.form-control.newPay(type="text", placeholder="请填写预发工资", value="#{nowPay.pay}")
                      span.input-group-btn
                        botton.btn.btn-primary(value="#{nowPay._id}", onclick="changePay(this.getAttribute('value'))") 修改
                        botton.btn.btn-default(value="#{nowPay._id}", onclick="checkPay(this.getAttribute('value'))") 提交审核
                  -else if(nowPay.isChecked == 1)
                    p 您的预发工资为：#{nowPay.pay}元
                    p 提交日期为：#{nowPay.applyDate}
                    p 已提交，不可修改，请等待审核
                  -else
                    p 您的预发工资为：#{nowPay.pay} 元
                    p 提交日期为：#{nowPay.applyDate}
                    p 审核已通过
                -else
                  p 您还未填写当前学期的预发工资，请先设置下您想要的预发工资：
                  .input-group
                    span.input-group-addon 学期
                    input.form-control.applySemesterSelect(type="text", value="#{nowSemester}", readonly)
                    //- script.
                    //-   for(let i=new Date().getFullYear() + 2; i>=new Date().getFullYear() - 1; i--)
                    //-     for(let j=2; j>=1; j--)
                    //-       $(".applySemesterSelect").append(`<option>${i-1}-${i}-${j}</option>`)
                  br
                  .input-group
                      span.input-group-addon 预发工资
                      input.form-control.newPay(type="text", placeholder="请填写预发工资")
                      span.input-group-btn
                        botton.btn.btn-default(type="botton", onclick="setNewPay()") 提交
                      
                hr
                h4 工资项目表:
                //- 工资项目表
                table.table.table-bordered
                  tr: th 申请学期
                      th 申请日期
                      th 申请工资
                      th 状态
                      
                  each item in pay
                    tr: td #{item.applySemester}
                        td #{item.applyDate}
                        td #{item.pay}
                        -if(item.isChecked == 0)
                          td 未提交
                        -else if(item.isChecked == 1)
                          td 等待审核
                        -else
                          td 已通过审核
